.dialog_item {
  display: flex;
  align-items: center;
  border: 1px solid gray;
  font-size: monospace;
}

.left_menu_icon img {
  width: 50px;
  height: 50px;
  padding: 8px;
}

.activeLink {
  color: green;
}
