.users {
  display: grid;
  height: fit-content;
  background-color: #c0c0c0;
  grid-gap: 16px;
}

.pages_numbers {
  display: flex;
}

.page_number {
  padding: 16px;
  margin-right: 8px;
  background-color: #ffffff;
  border-radius: 5px;
  text-align: center;
}

.selected {
  font-weight: bold;
}
