.add_post {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.post_textarea {
  margin: 8px;
}

.add_post_button button {
  margin: 8px;
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: 0.8em 1em calc(0.8em + 3px);
  border-radius: 3px;
  background: rgb(64, 199, 129);
  box-shadow: 0 -3px rgb(53, 167, 110) inset;
  transition: 0.2s;
}
