.app_wrapper {
	display: grid;
	grid-gap: 16px;
	grid-template-rows: 50px 1fr;
	grid-template-areas: 
		"appHeader"
		"appLayout";
}

.app_header_content {
	grid-area: appHeader;
	grid-gap: 16px;
	background-color: aquamarine;
}

.app_layout {
	display: grid;
	grid-gap: 16px;
	grid-area: appLayout;
	grid-template-columns: 2fr 10fr;
	grid-template-areas:
	"sidebar appContent";
}

.side_bar {
	grid-area: sidebar;
	background-color: blue;
}

.app_content {
	display: grid;
	grid-area: appContent;
	grid-gap: 16px;
	background-color: brown;
}
