.app_wrapper {
	display: grid;
	grid-gap: 16px;
	grid-template-rows: 50px 1fr;
	grid-template-areas: 
		"appLayout";
}

.app_layout {
	display: grid;
	grid-gap: 16px;
	grid-area: appLayout;
	grid-template-columns: 1fr 7fr;
	grid-template-areas:
	"appHeader appHeader"
	"sidebar appContent";
   margin: 0 auto;
}

.app_header_content {
	display: block;
	grid-area: appHeader;
	grid-gap: 16px;
	background-color: #FFFFFF;
	margin: 0 auto;
   width: 100%;
	border-radius: 0px 0px 5px 5px;

}

.side_bar {
	display: block;
	grid-area: sidebar;
	background-color: #FFFFFF;
   position: relative;
	border-radius: 5px;
	text-align: center;
	height: fit-content;
}

.app_content {
	display: grid;
	grid-area: appContent;
	background-color: #FFFFFF;
	border-radius: 5px;
	height: fit-content;
}
