.dialogs_page {
  display: block;
  margin: 8px;
}

.header_page {
  border: 2px green solid;
}

.message_section {
  display: grid;
  grid-template-columns: 3fr 10fr;
}

.dialogs_list {
  display: grid;
  text-align: left;
  padding-left: 0px;
}

.messages_list {
  display: grid;
  list-style: none;
  padding-left: 0px;
}

.activeLink {
  color: green;
}

.add_message {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.message_textarea {
  margin: 8px;
}

.add_message_button button {
  margin: 8px;
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: 0.8em 1em calc(0.8em + 3px);
  border-radius: 3px;
  background: rgb(64, 199, 129);
  box-shadow: 0 -3px rgb(53, 167, 110) inset;
  transition: 0.2s;
}
