.dialogs_page {
	display: block;
	margin: 8px;
}

.header_page {
	border: 2px green solid;	
}

.message_section {
	display: grid;
	grid-template-columns: 3fr 10fr;
}

.dialogs_list {
	display: grid;
	text-align: left;
	padding-left: 0px;
}

.messages_list {
	display: grid;
	list-style: none;
	padding-left: 0px;
}

.activeLink {
	color: green;
}