.dialogs_page {
	display: block;
	margin: 8px;
}

.header_page {
	border: 2px green solid;	
}

.message_section {
	display: grid;
	grid-template-columns: 3fr 10fr;
}

.dialogs_list {
	display: grid;
	text-align: left;
	padding-left: 0px;
}

.dialog_item{
	display: flex;
	align-items: center;
	border: 1px solid gray;
	font-size: monospace;
}

.left_menu_icon img {
	width: 50px;
	height: 50px;
	padding: 8px;
} 

.messages_list {
	display: grid;
	list-style: none;
	padding-left: 0px;
}

.message_item {
	display: flex;
	align-items: center;
	border: 1px solid grey;
	font-size: monospace;

}